<html>
<head>
    <meta charset='UTF-8'>
    <title>ENEEEEm</title>
    <link href='/css/index.css' rel='stylesheet'>
</head>
<body>

    <div id='o'>Celessione a manera de ve o enem</div>
        
    <section id='main'>
        <a class='link' href='/numeric/0'>DIGITE PARA PASSAR NO ENEEEEM</a>
        <a class='link' href='/listen'>ENEM AUTOMATICO ESCUTADOR (SE DER CERTO È A PROVA QUE ENEM È INUTIL)</a>
        <img src='/img/download.png'>
        <div class='rodapiao'>RODA pinhao promiso</div>
    </section>
    <h1>qua</h1>
    <h1>quantidade de enem falado{{count}}</h1>
    <ul>
        {{#list}}
            <li>{{date}}</li>
        {{/list}}
    </ul>
</body>
</html>