<html>
<head>
    <meta charset='UTF-8'>
    <title>ENEEEEm</title>
    <link href='/css/index.css' rel='stylesheet'>
</head>
<body>

    <div id='o'>Celessione a manera de ve o enem</div>
        
    <form method='POST' action='/numeric' id='main'>

        <input class='take' name='take' type='submit' value='-'>
        <input class='counter' name='counter' value='{{number}}'>
        <input class='add' name='add' type='submit' value='+'>

        <img src='/img/download.png'>
        <div class='rodapiao'>RODA pinhao promiso</div>
    </form>
    <script src='/javascript/index.js'></script>
    </body>
</html>